.hero-section{
    background-image: url(../assets/images/hero-bg.jpg);
    width: 100vw;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    padding: 30px;
    position: relative;
}

.slider-text{
   width: 30rem;
   color: #e2d4d4;
   margin-bottom: 30px;
}
.slider-text h2{
    font-size: 1.9rem;
}
.slider-text p{
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.slider-text button{
    margin-top: 20px;
    padding: 12px 18px;
}


/* crauseral section dots */
/* style whole dots section */
.carousel .control-dots{
   position: absolute;
   left: 0;
   bottom: 2rem;
   /* background-color: aqua; */
}
/* 
/* style crauseral dot  */
.carousel .control-dots .dot{
    /* position: absolute;
    left: 4rem; */
    background-color: rgb(238, 226, 226);
    box-shadow: none; 
}


/* Responsive image */
@media only screen and (max-width: 760px) {
   
    .slider-text h2{
        font-size: 2.9rem;
        margin-bottom: 20px; 
    }
    .slider-text p{
        font-size: 1.8rem;
        line-height: 1.7rem;
    }
    .slider-text button{
        margin-top: 30px;
        padding: 15px 22px;
        font-size: 1.5rem;
    }    
   }