.Testimonial-section{
    width: 100vw;
    padding: 30px;
}

.feedback-Container{
    /* background-color: aquamarine; */
    width: 100%;
    height: 250px;
    padding: 10px 25px;
    display: flex;
    justify-content: space-around;
}

.feedback-card{
    max-width: 500px;
    min-width: 300px;
    /* background-color: gray; */
    padding: 20px 30px;
    opacity: 0;

}
.feedback-card.active{
    opacity: 1;
}

.feed-para{
    background-color: black;
    color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.feedback-card h2{
    margin-bottom: 10px;
    color: #2b2828;
}

.destination{
    color: #424040;
}

/* userimage style */
.userImage{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.user{
    width: 70px;
    border-radius: 40px;
    border: 3px solid transparent;
    transition: border 0.3s ease-in-out;
}
.user.active{
    border: 3px solid rgb(255, 145, 0);
}

.control-button{
    /* background-color: aquamarine; */
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.ctrl-butt{
    width: 60px;
    height: 29px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: #f17209;
}
.ctrl-butt:hover{
    background-color: #2b2828;
    color: #f17209;
}

/* media query section */

@media only screen and (max-width: 760px) {
   
    .feedback-Container{
        /* background-color: aquamarine; */
        width: 100%;
        height: 450px;
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
    }

   }